<footer>
    <div class="card text-center bg-dark text-white sticky-bottom">
        <div class="card-header border-bottom">
          Back to Top
        </div>
        <div class="card-body">
                <div class="row justify-content-center gap-5 " width="800px">
                  <ul class="col-md-2 list-unstyled mt-5 mb-5">
                    <li class="mb-2"><b>Get to Know Us</b></li>
                    <li>Careers</li>
                    <li>Blog</li>
                    <li>About HomePerfects</li>
                    <li>Investor Relations</li>
                  </ul>
          
          
                  <ul class="col-md-2 list-unstyled mt-5 mb-5">
                    <li class="mb-2"><b>Make Money with Us</b></li>
                    <li>Become an Affiliate</li>
                    <li>Advertise Your Products</li>
                    <li>Self-Publish with Us</li>
                  </ul>
          
          
                  <ul class="col-md-2 list-unstyled mt-5 mb-5">
                    <li class="mb-2"><b>HomePerfects Payment</b></li>
                    <li>Shop with Points</li>
                    <li>Reload Your Balance</li>
                  </ul>
          
                  <ul class="col-md-2 list-unstyled mt-5 mb-5">
                    <li class="mb-2"><b>Let Us Help You</b></li>
                    <li>Your Account</li>
                    <li>Your Orders</li>
                    <li>Returns & Replacements</li>
                    <li>Help</li>
                  </ul>
          
            
        </div>
        <div class="card-footer text-body-white f-info d-flex justify-content-center">
            <div class="f-info-socials me-3">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-facebook-messenger"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="f-info-brand me-3">&copy; Home Perfects</div>
            <div class="f-info-links me-3">
                <a class="text-decoration-none footer-terms" href="/privacy">Privacy</a>
                <a class="text-decoration-none footer-terms" href="/terms">Terms&Condition</a>
            </div>
        </div>          
    </div>
</footer>